{% extends 'layout/base2.html.twig' %}
{% block body %}
    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Magib
                    <span class="text-primary">SALL</span>
                </h1>
                <div class="subheading mb-5">1190 Rue Berthelot/Forest · Belgique · (+32) 498 15 02 84 ·
                    <a href="mailto:name@email.com">magibsall@gmail.com</a>
                </div>
                <p class="mb-5">Au fil de mes formations et de mes expériences, je me suis spécialisé dans le domaine du développement web.</p>
                <ul class="list-inline list-social-icons mb-0">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Assistant manager service transport / Moniteur</h3>
                        <div class="subheading mb-3">APEEE Laken/Bruxelles</div>
                        <p>Gestion et suivi des accompagnateurs de bus. <br>
                            Moniteur d'échecs et de basket-ball.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2020 - 2022 </span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Conseiller technique</h3>
                        <div class="subheading mb-3">INTELCIA / Dakar (Sénégal)</div>
                        <p>j'avais comme tâche d'apporter des solutions aux problèmes techniques liés au matériel et aux réseaux. En tant que conseiller technique, j'étais chargé de répondre aux appels entrants des clients qui ont des soucis technique.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2018 - 2020</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Technicien informatique</h3>
                        <div class="subheading mb-3">SENELEC (fournisseur d'électricité au Sénégal)/ Saint-Louis (Sénégal)<br></div>J'ai travaillé à la SENELEC (fournisseur d'électricité au Sénégal) pendant une année. Je m'occupais, en plus de la maintenance, l’installation et le réglage de la sécurité sur la plateforme de l’entreprise par Java qui sont des étapes cruciales pour garantir la protection des données et des informations sensibles.L'outil Java permet de contrôler les applications et les applets non sécurisés exécutés dans un navigateur Web.

                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Novembre 2017 - Décembre 2018</span>

                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Technicien à la maintenance informatique</h3>
                        <div class="subheading mb-3">MD INFORMATIQUE / Saint-Louis (Sénégal)</div>
                        <p> J'ai travaillé pendant 3ans à MDinformatique, j'avais comme rôle l’installation de systèmes et de réseaux, ainsi que le dépannage et la réparation sur les parcs informatiques de nos partenaires tout en assurerant leurs bon fonctionnement Ainsi que la gestion de stock du matériel nformatique.
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary"> Novembre 2014 - Aout 2017</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Developpeur Web Stagiaire</h3>
                        <div class="subheading mb-3">Burotel Bruxelles</div>
                        <p>Projet client fait avec symfony</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">September 2023 - Novembre 2023</span>
                    </div>
                </div>

            </div>

        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Centre de formation CF2M à Bruxelles</h3>
                        <div class="subheading mb-3">Diplome professionnel</div>
                        <div>Formation qualifiante développeur
                            web full stack junior</div>
                        <p>GPA: 3.23</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Aout 2022 - Novembre 2023</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Université Gaston Berger de Saint-Louis (Sénégal)</h3>
                        <div class="subheading mb-3">Formation en Maintenance informatique et
                            initiation réseau par CISCO</div>
                        <p>GPA: 3.56</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2015 - Septembre 2016</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Centre de formation MD Informatique (Sénégal)</h3>
                        <div class="subheading mb-3">Formation en maintenance hardware, software et réseaux</div>
                        <p>GPA: 3.56</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2014 - Septembre 2015</span>
                    </div>
                </div>

            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>

                <div class="subheading mb-3">LANGAGES ET OUTILS DE PROGRAMMATION</div>
                <ul class="list-inline list-icons">
                    <li class="list-inline-item">
                        <i class="devicons devicons-html5"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-css3"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-javascript"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-jquery"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-nodejs"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-docker"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-bootstrap"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-wordpress"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-sql"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-symfony"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-npm"></i>
                    </li>
                </ul>

                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Mobile-First, Responsive Design</li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Browser Testing &amp; Debugging</li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Functional Teams</li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development &amp; Scrum</li>
                </ul>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">INTÉRÊTS</h2>
                <p>En dehors de mon activité de développeur web, j'aime passer le plus clair de mon temps en plein air. En hiver, je suis un passionné de ski. Pendant les mois les plus chauds, j'aime faire des randonnées, dans la nature et du kayak...</p>
                <p class="mb-0">Lorsque je suis à la maison, je suis un certain nombre de films et d'émissions télévisées de science-fiction et de fantasy, j'adore cuisiner des plats de chez moi (Sémgal) et je passe une grande partie de mon temps libre à explorer les dernières avancées technologiques dans le monde du développement web.</p>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
            <div class="my-auto">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Google Analytics Certified Developer</li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Mobile Web Specialist - Google Certification</li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        2<sup>nd</sup>
                        Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
                    <li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - James Buchanan High School - Hackathon 2006</li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        3<sup>rd</sup>
                        Place - James Buchanan High School - Hackathon 2005</li>
                </ul>
            </div>
        </section>

        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
{% endblock %}
